:root{
    --bitcoint-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-1:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFF;  
    --background:#B5B5B5;
    --gray-80:#808080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header .header-container{
    width: 100%;
    height: 334px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
header .header-container--img{
    margin: 40px 0 40px 0;
}

header .header-container--title{
    width: 100%;
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
    min-width: 320px;
    text-align: center;
}

header .header-container--text{
    color: var(--soft-orange);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

header .header-container--button{
    background: var(--off-white);
    padding: 20px;
    position: absolute;
    top: 308px;
    width: 250px;
    left: calc(50% - 126px);
    border-radius: 10px;
    box-shadow: 0 1px 6px 0px var(--gray);
    text-decoration: none;
    color: var(--warm-black-1);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}

header .header-container--button span{
    background: url('../assets/icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
}
main{
    width: 100%;
    height: auto;
    background: var(--off-white);
}
main .main-background {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}
.main-background figure{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-background figure img{
    margin-top: 70px;
    width: 300px;
    height: 300px;
}

.main-background .main-background--title{
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--warm-black-1);
    min-width: 288px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 700;
}

.main-background .main-background--text{
    color: #757575;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}
.main-currency{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.main-currency .main-currency--title h3{
    color: var(--bitcoint-orange);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
}
.main-container--table{
    width: 100%;
}
.main-container--table tr {
    background: var(--just-white);
}

.main-container--table tr td{
    padding: 20px;
    font-size: 1.7rem;
    font-family: 'Inter', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 19px;
}

.main-container--table .main-table__top-right{
    border-radius: 0 15px 0 0;
}

.main-container--table .main-table__top-left{
    border-radius: 15px 0 0 0;
}

.main-container--table .main-table__bottom-right{
    border-radius: 0 0 15px 0;
}

.main-container--table .main-table__bottom-left{
    border-radius: 0 0 0 15px;
}
.main-container--table .main-table--content-currency{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
}

.main-container--table .currency-level__red{
    background: url('../assets/icon/trending-down.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.main-container--table .currency-level__green{
    background: url('../assets/icon/trending-up.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.main-currency-updated {
    padding: 10px;
    background: var(--soft-orange);
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

.main-currency-updated p{
    font-size: 1.6rem;
    font-weight: 700;
}

.main-currency-updated p span{
    font-size: 1.5rem;
    font-weight: 400;
}

.main-detail {
    width: 100%;
    min-width: 320px;
    background: var(--warm-black);
    padding: 20px;
    text-align: center;
    /* margin: 0 auto; */
}

.main-detail .main-detail--description h3 {
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.main-detail .main-detail--description p {
    color: var(--gray-80);
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 20px;
}

.main-detail .main-detail-cards{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.main-detail-cards .card{
    text-align: start;
    display: inline-block;
    background: var(--warm-black-1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--warm-black);
    box-shadow: 0 1px 3px 1px var(--warm-black-1);
    height: auto;
    width: 320px;
    min-width: 280px;
    max-width: 320px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 5px;

}

.main-detail-cards .card .card-title{
    font-size: 1.8rem;
    color: var(--just-white);
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.main-detail-cards .card .card-text-description{
    font-size: 1.4rem;
    color: var(--gray-80);
    line-height: 1.8rem;
}