.main-currency {
    width: 100%;
    place-content: center;
}

.main-detail-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-content: center;
}

.main-detail-cards .card {
    margin-bottom: 0px;
}

.main-plans-container--slider {
    justify-content: center;
}